
		canvas {
			position: absolute;
			left: 0;
			top: 0;
		}
		body {
			margin: 0;
			padding: 0;
			background-color: rgb(190, 190, 190);
		}
		.verticalslider {
			position: absolute;
			display: none;
			transform: rotate(270deg);
		}
		.horizontalslider {
			position: absolute;
			display: none;
		}